page-login {

  .logo {
    display: flex;
    justify-content: center;
    margin: 10rem 0;

    & svg {
      width: 200px;
    }
  }

  form {
    margin-top: 2rem;

    .buttons {
      margin-top: 4rem;
    }
  }

}
